#snow{
  font-family: Androgyne;
  background-image: url('images/lewagon.png'), url('images/lewagon.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}



@media (min-width: 720px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 600px;
    margin: 0 auto;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    margin: 0 auto;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 400px;
    margin: 0 auto;
  }
}




body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #666;
  color: #656565;
}

h1 {
  font-family: 'Lobster', sans-serif;
  color: #DB2B39;
  text-align: center;
}

h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
  color: #656565;
  text-align: center;
}

a {
  text-decoration: none;
    color: #656565;
}

a:hover {
  color: #DB2B39;
}

ul li{
  display: inline;
  margin: 15px;
  font-size: 20px;
}

.profile-pic{
  width: 150px;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
}

.btn {
  display: block;
  text-decoration: none;
  background-color: #DB2B39;
  border: 1px solid #DB2B39;
  padding: 12px 16px;
  border-radius: 3px;
  font-size: 16px;
  color: #F5F5F5;
  width: 40%;
  margin: 10px auto;
  text-align: center;
}


.btn:hover {
  text-decoration: none;
  background-color: #F5F5F5;
  border: 1px solid #DB2B39;
  color: #DB2B39;
}

.card {
  background-color: #fff;
  padding: 10px;
  margin: 15px;
  text-align: center;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
